<!-- <!DOCTYPE html> -->
    </div>

    <div class="wfooter">
      <img src="/images/settings.png" alt="Settings" class="settings settings_spin" />
      <img src="/images/maximize.png" alt="Maximize" class="maximize" />
    </div>
  </div>
</li>