<!-- <!DOCTYPE html> -->
<%- include('widget_top', {widget_title: "Calendar Widget"}) -%>
  <div class='input-group date' id='datepicker1' ></div>
  <br/> <br/> Billing Cycle
  <br/> Payment Due
  <br/> Payment Received
<%- include('widget_bottom') -%>