<!-- <!DOCTYPE html> -->
<li>
  <div class="widget <%= widget_name %>">
    <div class="wheader">
      <%= widget_title %>
      <img src="/images/close.png" alt="Close" class="close" />
    </div>

    <div class="wbody">