<!-- <!DOCTYPE html> -->
<div class="container overlay" id="info_config_overlay">
  <div class="info_config">
    <div class="header">
      Info Config
      <img src="/images/close.png" alt="Close" class="close small_icon" />
    </div>

    <div class="body">
      <h5>Info Display</h5>

      <ul class="list-unstyled checkbox">
        <li><label><input type="checkbox" value="acc_no" checked="checked">First Name</label></li>
        <li><label><input type="checkbox" value="address" checked="checked">Last Name</label></li>
        <li><label><input type="checkbox" value="Email" checked="checked">Credit Rank</label></li>
        <li><label><input type="checkbox" value="invoice" checked="checked">Budget Billing</label></li>
        <li><label><input type="checkbox" value="meter" checked="checked">PAP</label></li>
        <li><label><input type="checkbox" value="name" checked="checked">Paperless</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Services Water</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Services Power</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Outage Notifications</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Account(s)</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Last Invoice</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Last Payment</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Bill Cycle</label></li>
        <li><label><input type="checkbox" value="ssn" checked="checked">Next Cycle</label></li>
      </ul>

      <a href="#">Add Type</a>
    </div>
  </div>
</div>