<!-- <!DOCTYPE html> -->
<div class="right_col col-lg-2">
  <div class="row history">
    <div class="col-sm-8">
      <select class="form-control">
        <option value="history">History</option>
      </select>
    </div>
    <div class="col-sm-4">
      <img src="/images/previous.png" alt="History Back">
      <img src="/images/next.png" alt="History Next">
    </div>
  </div>
  <div class="row ccontrols">
    <h3>Common Controls</h3>
    <ul class="list-unstyled sortable">
      <li><div><img src="/images/add_user.png" alt="Add Party"></div> Add Party</li>
      <li><img src="/images/link.png" alt="Link Account">Link Account</li>
      <li><img src="/images/in_out.png" alt="Move In/Out">Move In/Out</li>
      <li><img src="/images/edit.png" alt="Doc Designer">Doc Designer</li>
      <li><img src="/images/log.png" alt="Log Case">Log Case</li>
    </ul>
  </div>
</div>