<!-- <!DOCTYPE html> -->
<div class="container overlay" id="search_config_overlay">
  <div class="settings_panel search_config">
    <div class="sheader">
      InstaSearch Config
      <img src="/images/close.png" alt="Close" class="close" />
    </div>

    <div class="row">
      <div class="col-md-6">
        <h5>Search Against</h5>

        <div class="row checkbox">
          <ul class="list-unstyled">
            <li><label><input type="checkbox" value="acc_no" checked="checked" data-search="account_number">Account Number</label></li>
            <li><label><input type="checkbox" value="address" checked="checked" data-search="address">Address</label></li>
            <li><label><input type="checkbox" value="Email" checked="checked" data-search="email">Email</label></li>
            <li><label><input type="checkbox" value="invoice" data-search="invoice_number">Invoice Number</label></li>
            <li><label><input type="checkbox" value="meter" data-search="meter_number">Meter Number</label></li>
            <li><label><input type="checkbox" value="name" checked="checked" data-search="name">Name</label></li>
            <li><label><input type="checkbox" value="ssn" data-search="ssn">SSN</label></li>
          </ul>

          <a href="#">Add Type</a>

          <div class="inactive">
            <label><input type="checkbox" value="inactive">Show Inactive</label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h5>Display in Query</h5>

        <div class="row checkbox">
          <ul class="list-unstyled">
            <li><label><input type="checkbox" value="acc_no">Account Status</label></li>
            <li><label><input type="checkbox" value="acc_no">Budget Billing Flog</label></li>
            <li><label><input type="checkbox" value="acc_no">Collection Status</label></li>
            <li><label><input type="checkbox" value="acc_no" checked="checked">Last Balance Date</label></li>
            <li><label><input type="checkbox" value="acc_no" checked="checked">Last Balance Due</label></li>
            <li><label><input type="checkbox" value="acc_no">Last Payment Date</label></li>
            <li><label><input type="checkbox" value="acc_no">Last Payment Due</label></li>
            <li><label><input type="checkbox" value="acc_no">Paperless Flog</label></li>
            <li><label><input type="checkbox" value="acc_no" checked="checked">Payment Button</label></li>
          </ul>

          <a href="#">Add Type</a>
        </div>
      </div>
    </div>
  </div>
</div>