<!-- <!DOCTYPE html> -->
<div class="col-lg-6">
  <ul class="icon_panel list-unstyled list-inline sortable">
    <li><img src="/images/home.png" alt="Home" />Home</li>
    <li class="selected"><img src="/images/user.png" alt="Party" />Party</li>
    <li><img src="/images/account.png" alt="Account" />Account</li>
    <li><img src="/images/plug.png" alt="Services" />Service</li>
    <li><img src="/images/pin.png" alt="Premise" />Premise</li>
    <li><img src="/images/doc.png" alt="Contract" />Contract</li>
    <li><img src="/images/payment.png" alt="Payment" />Payment</li>
    <li><img src="/images/graph.png" alt="BI" />BI</li>
    <li><img src="/images/misc.png" alt="Misc" />Misc</li>
  </ul>
</div>