<!-- <!DOCTYPE html> -->
<div class="container overlay" id="widget_add_overlay">
  <div class="add_widget_panel">
    <div class="header">
      Add Widget
      <img src="/images/close.png" alt="Close" class="close small_icon" />
    </div>

    <div class="body">
      <h5>Available Widgets</h5>

      <ul class="list-unstyled checkbox">
        <li><label><input type="checkbox" value="case" checked="checked" disabled>Case</label></li>
        <li><label><input type="checkbox" value="calendar" checked="checked">Calendar</label></li>
        <li><label><input type="checkbox" value="map" checked="checked">Map</label></li>
      </ul>
    </div>
  </div>
</div>